<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsters as Pets</title>

    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/index.css">

</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div class="container-sm edit mx-auto" style="width: 40rem;" id="table">
        <div class="card-group">
            <div class="card">
                <img src="<%=info.img%>" class="card-img-top" alt="<%=name%>">
                <div class="card-body">
                    <h5 class="card-title"><%=name%></h5>
                    <p class="card-text"><%=info.species%></p>
                    <p class="card-text"><%=info.description%></p>
                </div>

                <form action="/monster/<%=info.name%>?_method=PUT" method="POST" class="m-3">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="img" class="input-group-text" id="basic-addon3">Pet's image URL</label>
                        </div>
                        <input type="text" class="form-control" name="img" value="<%=info.img%>">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="price" class="input-group-text" id="basic-addon3">Price</label>
                        </div>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                            name="price" value="<%=info.price%>">
                        <div class="input-group-append mr-2">
                            <span class="input-group-text">.00</span>
                        </div>

                        <div class="input-group-prepend ml-2">
                            <label for="qty" class="input-group-text" id="basic-addon3">In Stock</label>
                        </div>
                        <div class="input-group-append">
                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="qty"
                            value="<%=info.qty%>">
                        </div>

                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="description" class="input-group-text" id="basic-addon3">Describe your
                                monster</label>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" maxlength="300" name="description"
                            rows="5"><%=info.description%></textarea>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-primary my-2" type="submit">Save updated info</button>
                    </div>

                </form>

                <div class="card-footer">
                    <small class="text-muted">Please do not endanger this species</small>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>