<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsters as Pets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<style>
    .head-container {
        width: 95%;
        text-align: center;
    }
</style>

<body>
    <div class="head-container mx-auto d-flex flex-row justify-content-center align-items-center ">
        <a href="/monster/new" class="btn btn-primary my-2">New monsters</a>
        <h1 class="mx-3 flex-grow-1">Enrich your living with these lovely monsters!</h1>
        <a href="#" class="btn btn-primary my-2">View Cart</a>
    </div>
    <div class="main-container mx-auto">
        <div class="row d-flex flex-row mx-auto justify-content-center">
            <%monsters.forEach( monster => {%>
            <div class="card m-2 d-flex flex-column justify-content-center" style="width: 18rem;">
                <img src="<%=monster.img%>" class="card-img-top" alt="<%=monster.name%>">
                <div class="card-body d-flex flex-column justify-content-end">
                    <h5 class="card-title"><%=monster.name%></h5>
                    <p class="card-text">Price : $<%=monster.price%></p>
                    <p class="card-text">in Stock :<%=monster.qty%></p>
                    <a href="/monster/<%=monster.name%>" class="btn btn-primary my-2">View pets</a>
                    <a href="#" class="btn btn-primary my-2">Another link</a>
                </div>
            </div>
        <%})%>
        </div>
    </div>

</body>

</html>